@import url('./popup.css');
@import url('./logo.css');

.hero-desktop {
  	width: 100%;
  	position: relative;
  	background-color: var(--color-white);
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 0rem var(--padding-64) var(--padding-64);
  	box-sizing: border-box;
  	text-align: center;
  	font-size: var(--fs-48);
  	color: var(--color-white);
  	font-family: var(--font-dm-sans);
}
.navbar {
  	align-self: stretch;
  	height: 4.5rem;
  	background-color: var(--color-white);
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
}

.navbar .container {
  	width: 100%;
  	flex: 1;
  	display: flex;
  	align-items: flex-start;
  	gap: var(--gap-32);
  	max-width: 100%;
}
.navbar-1 .logo-link {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 0.512rem 0rem;
}
.logo {
  	width: 12.438rem;
  	height: 3.15rem;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}

/* SVG */
.logo-mark-icon {
  	width: 2.8rem;
  	position: relative;
  	max-height: 100%;
}
.logo-text-icon {
  	width: 9.119rem;
  	position: relative;
  	max-height: 100%;
}
.navbar .column {
  	display: none;
  	align-items: center;
  	justify-content: center;
  	gap: var(--gap-32);
}

/* nav menu - HIDDEN */
.navbar .nav-links {
  	display: flex;
  	align-items: center;
  	justify-content: flex-end;
  	gap: var(--gap-32);
}
.navbar .link2 {
  	height: var(--height-24);
  	width: 5.438rem;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.navbar .link5 {
  	height: var(--height-24);
  	width: 6.688rem;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.navbar .actions {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	gap: var(--gap-16);
}
.navbar .button {
  	height: var(--height-48);
  	width: 6rem;
  	display: flex;
  	align-items: flex-start;
}

/* MAIN CONTENT */
.banner {
  	align-self: stretch;
  	border-radius: 16px;
  	background: linear-gradient(119.16deg, rgba(35, 95, 244, 0), #235ff4), linear-gradient(211.03deg, #235ff4, #5760ef 50%, var(--color-darkorchid));
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 7rem var(--padding-48) var(--padding-64);
}
.content {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: var(--gap-48);
  	max-width: 660px;
}
.counter {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: var(--gap-24);
  	font-family: var(--font-passion-one);
}
.closing-date {
  	align-self: stretch;
  	position: relative;
  	line-height: 100%;
}
.counter-text {
  	position: relative;
  	line-height: 120%;
  	font-family: var(--font-dm-sans);
}
.copy-container {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: var(--gap-32);
  	font-size: var(--fs-18);
}
.copy {
  	align-self: stretch;
  	position: relative;
  	line-height: 150%;
}
.b-usd {
  	font-weight: 600;
}
.copy3 {
  	position: relative;
  	line-height: 150%;
  	display: inline-block;
  	max-width: 67.5rem;
}
.cta {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: var(--gap-32);
  	font-size: 1.5rem;
}
.waitlist-prompt {
  	position: relative;
  	line-height: 140%;
}
.buttons {
  	display: flex;
  	align-items: center;
  	flex-wrap: wrap;
  	align-content: center;
  	font-size: var(--fs-18);
}
.primary-button {
  	border-radius: 12px;
  	background-color: var(--color-black);
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: var(--padding-12) 1rem;
}
.join-button {
  	position: relative;
  	line-height: 145%;
  	font-weight: 500;
}
.placeholder-lightbox {
  	align-self: stretch;
  	height: 23.206rem;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
}
.play-button-icon {
  	position: absolute;
  	top: calc(50% - 31.65px);
  	left: calc(50% - 32px);
  	width: 4rem;
  	height: 4rem;
}

/* video */
.video-container {
  	align-self: stretch;
  	/* height: 23.206rem; */
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
  	background-color: var(--color-black);
	aspect-ratio: 16 / 9;
}
.video {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	min-width: 100%;
  	min-height: 100%;
}

/* footer */
.footer {
  	/* background-color: var(--color-darkorchid); */
  	padding: var(--padding-32) 0;
}
.container3 {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	max-width: 1200px;
  	margin: 0 auto;
  	padding: 0 var(--padding-48);
}
.text2 {
  	color: var(--color-white);
  	font-size: var(--fs-14);
}
.links {
  	display: flex;
  	gap: var(--gap-24);
}
.link {
  	color: var(--color-white);
  	cursor: pointer;
  	font-size: var(--fs-14);
}