@import url('./popup.css');
@import url('./logo.css');
@import url('./buttons.css');

.hero-desktop {
  	width: 100%;
  	position: relative;
  	background-color: var(--color-white);
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
  	padding: 0rem var(--padding-64) var(--padding-64);
  	box-sizing: border-box;
  	text-align: center;
  	font-size: var(--fs-48);
  	color: var(--color-white);
  	font-family: var(--font-dm-sans);
}
.navbar {
	position: fixed;
    box-sizing: content-box;
    top: 0;
    width: 100%;
    z-index: 11111;
  	align-self: stretch;
  	height: 4.5rem;
  	background-color: var(--color-white);
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
	padding: 0rem var(--padding-64) 0rem;

}
.navbar.is-scrolled {
  	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  	background-color: rgba(var(--color-white-rgb), 0.8);
	backdrop-filter: blur(10px);
}

.navbar .container {
  	width: 100%;
  	flex: 1;
  	display: flex;
  	align-items: flex-start;
	justify-content: center;
  	gap: var(--gap-32);
  	max-width: 100%;
}
.navbar .logo-link {
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
  	padding: 0.512rem 0rem;
}
.logo {
  	width: 12.438rem;
  	height: 3.15rem;
  	display: flex;
  	flex-direction: column;
  	align-items: flex-start;
  	justify-content: center;
}

/* SVG */
.logo-mark-icon {
  	width: 2.8rem;
  	position: relative;
  	max-height: 100%;
}
.logo-text-icon {
  	width: 9.119rem;
  	position: relative;
  	max-height: 100%;
}
.navbar .column {
  	display: none;
  	align-items: center;
  	justify-content: center;
  	gap: var(--gap-32);
}

 [class*="brandmark"] {
	transition: var(--transition);
	transform-origin: 22px;
	transform: rotate(0deg);
}
.is-scrolled [class*="brandmark"] {
	transform: rotate(180deg);
}

/* nav menu - HIDDEN */
.navbar .nav-links {
  	display: flex;
  	align-items: center;
  	justify-content: flex-end;
  	gap: var(--gap-32);
}
.navbar .link2 {
  	height: var(--height-24);
  	width: 5.438rem;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.navbar .link5 {
  	height: var(--height-24);
  	width: 6.688rem;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
.navbar .actions {
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	gap: var(--gap-16);
}
.navbar .button {
  	height: var(--height-48);
  	width: 6rem;
  	display: flex;
  	align-items: flex-start;
}

/* MAIN CONTENT */
.banner {
  	/* align-self: stretch; */
  	border-radius: 16px;
  	background: linear-gradient(59deg, #235FF4, #5760EF 50%, #9A47E6 );
	/* linear-gradient(119.16deg, rgba(35, 95, 244, 0), #235ff4), 
				linear-gradient(211.03deg, #235ff4, #5760ef 50%, var(--color-darkorchid)); */
				/* var(--gradient-fill); */
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	justify-content: center;
	width: 100%;
  	padding: 7rem var(--padding-48) var(--padding-64);
  	box-sizing: border-box;
  	gap: var(--gap-48);
	position: relative;
	margin-top : 4.5rem;
}
.banner::before {
  	content: '';
  	position: absolute;
  	top: 0;
  	left: 0;
  	width: 100%;
  	height: 100%;
	background: linear-gradient(119deg, white 75%, #235FF4 100%);
	background-blend-mode: screen;
  	/* background-image: url('./images/banner-bg.png'); */
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: center;
  	opacity: 0.1;
}
.content {
  	width: 100%;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: var(--gap-48);
  	max-width: 660px;
}
.counter {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: var(--gap-24);
  	font-family: var(--font-passion-one);
}
.closing-date {
  	align-self: stretch;
  	position: relative;
  	line-height: 100%;
}
.counter-text {
  	position: relative;
  	line-height: 120%;
  	font-family: var(--font-dm-sans);
	display: inline-flex;
	gap: 0.25rem;
}
.counter-text > *:not(.sep){
	width: 4rem
}
.counter-text > .sep{
	width: 1rem
}

.counter-text { 
	transition: transform 120ms ease, opacity 120ms; 
}
.counter-text.tick { 
	transform: scale(1); 
	opacity: 1; 
}


.copy-container {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: var(--gap-32);
  	font-size: var(--fs-18);
}
.copy {
  	align-self: stretch;
  	position: relative;
  	line-height: 150%;
}
.b-usd {
  	font-weight: 600;
}
.copy3 {
  	position: relative;
  	line-height: 150%;
  	display: inline-block;
  	max-width: 67.5rem;
}
.cta {
  	align-self: stretch;
  	display: flex;
  	flex-direction: column;
  	align-items: center;
  	gap: var(--gap-32);
  	font-size: 1.5rem;
}
.waitlist-prompt {
  	position: relative;
  	line-height: 140%;
}

.placeholder-lightbox {
  	align-self: stretch;
  	height: 23.206rem;
  	position: relative;
  	overflow: hidden;
  	flex-shrink: 0;
  	background-size: cover;
  	background-repeat: no-repeat;
  	background-position: top;
}
.play-button-icon {
  	position: absolute;
  	top: calc(50% - 31.65px);
  	left: calc(50% - 32px);
  	width: 4rem;
  	height: 4rem;
}

/* video */
.video-container {
  	/* align-self: stretch; */
  	/* height: 23.206rem; */
	/* height: 100%; */
	height: 40vw;
    max-height: 23rem;
	max-width: 660px;
  	position: relative;
  	overflow: hidden;
	flex-direction: column;
  	/* flex-shrink: 0; */
  	background-color: var(--color-black);
	aspect-ratio: 16 / 9;
}
.video {
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	min-width: 100%;
  	min-height: 100%;
}

/* footer */
.footer {
  	/* background-color: var(--color-darkorchid); */
  	padding: var(--padding-32) 0;
}
.container3 {
  	display: flex;
  	justify-content: space-between;
  	align-items: center;
  	max-width: 1200px;
  	margin: 0 auto;
  	padding: 0 var(--padding-48);
}
.text2 {
  	color: var(--color-white);
  	font-size: var(--fs-14);
}
.links {
  	display: flex;
  	gap: var(--gap-24);
}
.link {
  	color: var(--color-white);
  	cursor: pointer;
  	font-size: var(--fs-14);
}